@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    <h3>Social news</h3>
    <div>
        <img src="../../Content/images/Bob.png" />
    </div> 
    <div><b>Made for The Code Project</b></div>
    <div>© 2012 Marcelo Ricardo de Oliveira</div>
    <div>All rights reserved</div>
</p>
